email_sender.json
{
  "name": "email_sender",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        0
      ],
      "id": "56d6ff3b-f096-46c9-a306-bb5e4ea656f1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "hereisusman@zohomail.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=Hello, {{$json[\"Name\"]}}",
        "emailFormat": "both",
        "text": "Hello, can you recieve my emails?",
        "html": "Hello, can you recieve my emails?",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        960,
        -96
      ],
      "id": "a00f1478-38b4-49de-b875-a2f3bce0299f",
      "name": "Send email",
      "webhookId": "27e9f195-57b7-43f1-8f39-47fc566385a0",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "4cSeISyaJ4P88lGU",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i18a4USqwlaU7vyNvycPO5EKw7AE3ZTu5fCi3SpBl_E",
          "mode": "list",
          "cachedResultName": "Email leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i18a4USqwlaU7vyNvycPO5EKw7AE3ZTu5fCi3SpBl_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i18a4USqwlaU7vyNvycPO5EKw7AE3ZTu5fCi3SpBl_E/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "73ead8ca-7734-4813-9595-a236dfaeaf53",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zlh16ivos1ruDx7i",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8502d05f-d7a0-4847-a60b-00b3309745be",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -80
      ],
      "id": "b8fee5f2-9daf-4d54-87df-ef764fedccc7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i18a4USqwlaU7vyNvycPO5EKw7AE3ZTu5fCi3SpBl_E",
          "mode": "list",
          "cachedResultName": "Email leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i18a4USqwlaU7vyNvycPO5EKw7AE3ZTu5fCi3SpBl_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i18a4USqwlaU7vyNvycPO5EKw7AE3ZTu5fCi3SpBl_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "sent"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "accepted",
              "displayName": "accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rejected",
              "displayName": "rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ehlo",
              "displayName": "ehlo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "envelopeTime",
              "displayName": "envelopeTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "messageTime",
              "displayName": "messageTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "messageSize",
              "displayName": "messageSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "envelope",
              "displayName": "envelope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -80
      ],
      "id": "831b40b3-28ea-4936-8a1d-5732d81fea67",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zlh16ivos1ruDx7i",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        -80
      ],
      "id": "49eb7c68-df2c-46a0-a2a1-fe959e2de9b9",
      "name": "Wait",
      "webhookId": "1f8e3844-dafe-4cc5-b425-41f6d585d083",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "03ed1d51-3768-4732-bd16-3ac4b3bba2b4",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "437e0959-1385-4b8e-a3bd-c7546a3b2d8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea3dc49951092841e2058a1767c2c8e4ae3f63fbf50b1c449a69aba14b1fc108"
  },
  "id": "4yWGL1mhIX0klIo1",
  "tags": []
}